# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temp storage for binaries
/mingit/
/gh_cli/
/*.zip
temp.log
temp_webpack.log
export_for_chatgpt.txt
